{% extends 'main/layout.html' %}

{% block title %}{{title}}{% endblock %}

{% block content %}
    <div class="features">
        <h1>ЧТО ТАКОЕ ВТОРСЫРЬЕ?</h1>
        <p>В жизни мы сталкиваемся с таким количеством мусора</p>
        <button class="btn btn-warning">А что, если не все это просто мусор?</button>

        <p>Пакеты, бутылки, фантики - один раз используешь и они останутся загрязнять платнету</p>
        <button class="btn btn-warning">Но их можно не только правильно и безопасно для природы утилизировать!!</button>
         <p>Огромная часть мусора - вторсырье, которое можно перерабоать</p>
        <button class="btn btn-warning">Давайте дадим ему вторую жизнь:3</button>

    </div>



{% endblock %}