body {
    background: #ffae73;
}
aside {
    float: left;
    background: #ff9140;
    width: 20%;
    padding: 2.5%;
    height: 100vh;
    color: #fff;

}



aside .logo {
    font-size: 150px;
    margin-left: 10px;
    font-weight: bold;
    position: relative;
    top: -5px;
}

aside h3 {
    margin-top: 50px;
    font-size: 28px;
}

aside ul {list-style: none}
aside ul li {
    color: #fff;
    display: block;
    margin-top: 40px;

}








main .features {
    float: left;
    color: #fff;
    margin-top: 100px;
    text-align: center;
    width: 75%;


}


main .features h1 {font-sixe: 50px;}
main .features p {max-width: 400px; margin: 20px auto}










